server {
    listen 80;
    server_name  mysite.com;
    root         /home/{{home_user}}/public_html/mysite.com;

    error_log   /var/log/nginx/mysite.com-error.log;
    access_log  /var/log/nginx/mysite.com-access.log mylog;
    # Load configuration files for the default server block.
    include      /etc/nginx/default.d/*.conf;

    index        index.php;

    add_header X-Security 'Found something? please contact security@mysite.com' always;
    add_header X-DNS-Prefetch-Control "on" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Frame-Options 'SAMEORIGIN' always;
    add_header Content-Security-Policy 'upgrade-insecure-requests';
    add_header Referrer-Policy 'strict-origin-when-cross-origin';
    add_header Strict-Transport-Security 'max-age=2592000';
    add_header Vary 'Accept-Encoding' always;

    location = /favicon.ico {
        log_not_found off;
        access_log    off;
    }

    location = /robots.txt {
        allow         all;
        log_not_found off;
        access_log    off;
    }

    location ~ /\. {
        deny all;
    }

    location ~* /(?:uploads|files)/.*\.php$ {
        deny all;
    }

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~* \.php$ {
        include                       fastcgi.conf;
        fastcgi_intercept_errors      on;
        fastcgi_pass                  fpm-{{home_user}};
        fastcgi_buffers               256 16k;
        fastcgi_buffer_size           128k;
        fastcgi_busy_buffers_size     256k;
        fastcgi_temp_file_write_size  256k;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires 30d;

        log_not_found  off;
        access_log     off;
    }

    error_page 404 /404.html;
    location = 404.html {
        root    /var/www/html/404.html;
    }
}