user nginx;
worker_processes {{count_worker_processes}};
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

worker_rlimit_nofile 4096;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    use epoll;
    multi_accept       off;
    worker_connections 4096;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$host" "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';
    
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    
    
    types_hash_max_size 2048;
    
    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;
    
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*.conf;
}
